@model LessonDetailViewModel
<section class="course-info">
    <div class="row">
        <div class="col-md-9">
            <h1>
                @Model.Title
                <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-pencil-alt"></i>Modifica</a>
            </h1>
        </div>
        <div class="col-md-3 d-flex align-items-center flex-column justify-content-center bg-light">
            <div>
                Durata
            </div>
            <div>
               @Model.Duration
            </div>               
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p html-sanitize>@Model.Description</p>
        </div>
    </div>
</section>
